<style>
    #dist-start-end {
        width: 250px;
        border: 10px solid #444444;
        position: relative;
        margin: auto;
        text-align: center;
        display: block;
        overflow:hidden;
    }
    #dist-button {
        width: 80%;
        position: relative;
        margin: auto;
        text-align: center;
        display: block;
    }

    #warning {
        width: 80%;
        position: relative;
        margin: auto;
        text-align: center;
        display: block;
        color: red;
    }
</style>

<p style="text-align: center;">Measure distance.</p>

<p *ngIf="!stations" style="text-align: center;">Loading...</p>

<div *ngIf="stations">
    <div id="dist-start-end">
        <br />
        <select [(ngModel)]="selectedStartStation" *ngIf="stations">
            <option *ngFor="let station of stations">
                {{ station }}
            </option>
        </select>

        <p>Selected start station: {{ selectedStartStation }}</p>
    </div>
    <br />
    <div id="dist-start-end" *ngIf="stations">
        <br />
        <select [(ngModel)]="selectedEndStation">
            <option *ngFor="let station of stations">
                {{ station }}
            </option>
        </select>

        <p>Selected end station: {{ selectedEndStation }}</p>
    </div>

    <br />
    <div id="dist-button">
        <button (click)="getDistance()">calculate distance</button>

        <p>Distance: {{ distance }}</p>
    </div>
</div>