<style>
    #dist-start-end {
        width: 250px;
        border: 10px solid #444444;
        position: relative;
        /*padding: 25px;*/
        margin: auto;
        text-align: center;
        display: block;
        overflow:hidden;
    }
    #dist-button {
        /*width: 300px;
        position: absolute;
        top: 200px;
        left: 300px;*/
        width: 80%;
        position: relative;
        margin: auto;
        text-align: center;
        display: block;
    }
</style>

<p style="text-align: center;">Measure distance.</p>

<p *ngIf="!stations" style="text-align: center;">Loading...</p>

<div id="dist-start-end" *ngIf="stations">
    <br/>
    <select [(ngModel)]="selectedStartStation" *ngIf="stations">
        <option *ngFor="let station of stations">
            {{ station }}
        </option>
    </select>

    <p>Selected start station: {{ selectedStartStation }}</p>
</div>
<br/>
<div id="dist-start-end" *ngIf="stations">
    <br/>
    <select [(ngModel)]="selectedEndStation">
        <option *ngFor="let station of stations">
            {{ station }}
        </option>
    </select>

    <p>Selected end station: {{ selectedEndStation }}</p>
</div>

<br />
<div id="dist-button" *ngIf="stations">
    <button (click)="getDistance()">calculate distance</button>

    <p>Distance: {{ distance }}</p>
</div>