<br />
<div *ngIf="!loggedIn">
    Username: <input [(ngModel)]="username" />
    <br />
    <br />
    Password: <input type="password" [(ngModel)]="password" />
    <br />
    <br />
    <button (click)="loginUser()">Login</button>
    <button (click)="registerUser()">Register</button>
</div>
<div *ngIf="loggedIn">
    Logged in as {{loggedUser}}! <br />
    <button (click)="logout()">Logout</button>
</div>
<em *ngIf="failedLogin" style="color: red;">failed to log in</em>
<em *ngIf="registered" style="color: green;">registered successfully</em>
<em *ngIf="failedRegister" style="color: red;">failed to register</em>